
.container{
    position: absolute;
    height: 230px;
    width: 560px;
    border: 1px solid   black;
    font-weight: lighter;
    font-size: 20px;
    padding-left: 30px;
   
}
#HPSouth{
    top: 390px;
    right:38%;
    left: 0;  
    margin-left: auto; 
    margin-right: auto;
}
#HPNorth{
    display: flex;
    top: 390px;
    right: 0;
    left: 41%; 
    margin-left: auto; 
    margin-right: auto;
}
.contTitle{
    position: inherit;
}
.contDesc{
    position: absolute;
    top: 50%;
}