nav{
    width: 100vw;
    overflow: hidden;

}
.trans-logo{
    position: relative;
    top: 48px;
    left: 119px;
    letter-spacing: -0.01em;
    line-height: 100%;
    text-align: left;
    color: #2D5987;
    font-weight: bold;
}
.Navigation {
    justify-content: center;
    position: relative;
    display: flex;
    list-style-type: none;
    top: 13px;
    
}
.Navigation li a{
    padding-left: 25px;
    text-decoration: none;
    color: black;

}
.login-container{
    top: -5vh;
    right: 2vh; 
    float: right;
    position: relative;    
    width: 126px;
    color: white;
    height: 48px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #2D5987;
    cursor: pointer;
    border: 1px solid white;  
}

.login-container:active{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.navLogo{
    position: absolute;
    top: 16px;
    left: 33px;
    width: 63px;
    height: 80px;
    object-fit: cover;
}