#reviewPostContainer{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.reviewHeader{
   
    text-align: center;
   
}

.reviewDescription{
 margin-top: 5px;
}
