#reviewPostContainer{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}

.reviewHeader{
    position: relative;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.ReviewTitle{
    margin-top: 1%;
}
.triptoDest{
    margin-top: -8%;
}
.reviewDescription{
    right: 3% ;
    position: relative;
    margin-top: -3%;
    justify-content: center;
    text-align: center;
    
}