#reviewPostContainer{
    position: relative;
    margin-top: 16px;
    flex-direction: column;
    padding-bottom: 10%;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 215px;
    text-align: center;
    cursor: pointer;
}

.reviewHeader{
   
    text-align: center;
   
}

.reviewDescription{
 margin-top: 5px;
}
