
.CreateReviewHeader{
    position: relative;
    font-style: italic;
    font-size: 23px;
    top: 20px;
    
}
.paraHeader{
    position: relative;
    left: 95px;
}
#CreateReviewDivider{
    top:30px;
    position: relative;
}
.reviewInputCont{
    display: flex;
    position: relative;
    top: 50px;
    background-color: cadetblue;
}
.titleLabel{
    position: relative;
    font-size: 20px;
    left: 10%;
}


.ratingLabel{
    position: relative;
    font-size: 20px;
    left: 30%;
}
.ratingInput{
    position: relative;
    left: 30%;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 10px;
    width: 160px;
    text-align: center;
}

.tripLabel{
    position: relative;
    font-size: 20px;
    top: 60px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;

}

.tripInput{
    position: absolute;
    top: 63px;
    left: 15%;
    border-radius: 3px;
    font-size: 14px;
    margin-left: 15px;
    width: 155px;
    text-align: center;
    height: 25px;

}
.reviewInput{
    resize: none;
    font-size: 17px;
    width: 1050px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
}
.reviewContainer{
    display: flex;
    position: relative;
    top: 130px;
    justify-content: center;
}

.agencyLabel{
    position: absolute;
    font-size: 20px;
    top:60px;
    left: 39%;
    
}

.titleInput{
    position: relative;
    left: 10%;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 15px;
    width: 175px;
    border: 1px solid black;
    text-align: center;
    
}

.agencyInput{
    position: absolute;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 12px;
    width: 160px;
    top:60px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    left: 47.5%;
}
.mediaCont{
    position: relative;
    top: 129px;   
    background-color:bisque;
}
.mediaInput{
    position: absolute;
    font-size: 17px;
    width: 1033px;
    padding: 0px 0px 0px 30px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    background-image: url('/public/media_icon.png');
    background-size:contain;
    background-repeat: no-repeat;
    border: 1px solid black;
    outline: none;
}

.buttonContainer{
    position: relative;
    background-color:aquamarine;
    top: 175px;
}
.postReviewBut{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    border-radius: 3px;
    background-color: #2D5987;
    border:0px solid black;
    color: white;
    cursor: pointer;
    width: 140px;
    height: 40px;
}

.postReviewBut:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }