.body{
    max-width: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    
}

.title{
    position: absolute;
    top: 140px ;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    letter-spacing: -0.05em;
    line-height: 150%;
    text-align: center;
    display: inline-block;

}
.header-1{
    margin: 0;
    font-size: 24px;   

}
.bodyLogo{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    height: 80px;
    object-fit: cover;
    padding: 90px 0px 0px 0px;
}
.forward {
    color: #2d5987;
}

.moving-forward-passengers-container{
    position: absolute;
    top: 305px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    letter-spacing: -0.02em;
    line-height: 120%;
    text-align: center;
    display: inline-block;
    font-size: 36px;

}
.dividerHP{/*divider Class is in LoginCSS*/
    position: relative;
    top:250px;
    border-top: 1px solid black;
    box-sizing: border-box;
    width: calc(100% - 320px);
    height: 2px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 650px;
    
}
.review-container{
    display: flex;
    height:50px;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.review-button{
    position: relative;    
    width: 160%;
    color: white;
    height: 48px;
    border-radius: 8px;
    background-color: #2D5987;
    cursor: pointer;
    border: 1px solid white;  
  
}  

.review-button:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}


.VisMis{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 1560px;
    width: 630px;
    left: 85px; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}   
.VisCont,.introCont,.MisCont,.believe{
    position: relative;
    width: 630px;
}

.believe,.igan{
    color: #2D5987;
}
.introCont,.igan{
    font-weight: 540;
}

.hp-pics{
    position: absolute;
    top: 761px;
    width: 1381px;
    height: 708px;
    overflow: hidden;
    font-size: 16px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.pic1{
    position: relative;
    width: calc(100% - 803px);
    top: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 700px;
}
.pic2{
    position: relative;
    width: calc(100% - 704px);
    left: 8.7%;
    bottom: 18%;
    max-width: 100%;
    overflow: hidden;
    height: 432px;
    padding-left: 10PX;
}
.pic-tags{
    position: absolute;
    width: calc(100% - 704px);
    top: 574px;
    left: 715px;
    letter-spacing: -0.01em;
    line-height: 160%;
    display: inline-block;
}