:root {
  --font-size-13xl: 2rem;
  --font-size-45xl: 2.8125rem;
  --padding-77xl: 77px;
  --padding-smi: 10px;
  --padding-0: 0;
  --gap-base: 1rem;
  --font-reem-kufi: 'Reem-Kufi', sans-serif;
  --font-reem-kufi-ink: 'Reem-Kufi-Ink', sans-serif;
  --font-newsreader: 'Newsreader', sans-serif;
  --color-white: #ffffff;
  --color-black: #000000;
}

.profileContainer {
  position: absolute;
  top: 311px;
  left: 10%;
  background-color: #f4f4f4;
  width: 608px;
  height: 436px;
  margin-bottom: 50px;
}

.lastestHeader {
  position: absolute;
  top: 311px;
  left:53%;
  background-color: #2d5987;
  width: 624px;
  height: 54px;
  text-align: center;
  font-size: 40px;
  font-weight: light;
  border-radius: 3px;
  color: #f4f4f4;
}

.profilepic {
  position: relative;
  top:50px;
  left: 50px;
  width: 50px;
  height: 49px;
  object-fit: contain;
}
.latestContainer{
  position: absolute;
  background-color: #f4f4f4;
  top: 360px;
  left:53%;
  width: 624px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 530px;
  overflow-y: scroll;
}
.usernameContainer{
  position: relative;
  left: 130px;
  top: -14px;
  background-color: #2d5987;
  color: white;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  height: 30px;
  width: 450px;
}



.malutoTransportation {
  
  font-size: var(--font-size-13xl);
  font-family: var(--font-reem-kufi);
  color:  #2D5987;
}


.andTravelCorporation {
 
  font-family: var(--font-reem-kufi-ink);
  font-weight: bold; 
}
.profileHeader{
  margin-top: 20px;
  text-align: center;
}
.profileFooterContainer{
  text-align: center;
  position: absolute;
  top: 390px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  font-family: var(--font-newsreader);
  font-size: 36px;
}
.userDescription{
  resize: none;
  position: absolute;
  height: 150px;
  width: 440px;
  background-color: gainsboro;
  border: 0px solid black;
  border-radius: 3px;
  left: 22%; 
  
  
}
.userDescription::placeholder{
 color: black;
  
}
.editProfileButton{
    position: absolute;
    top:310px;
    right:91.1%;
    width: 126px;
    color: white;
    height: 48px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #2D5987;
    cursor: pointer;
    border: 1px solid white;  
    
}

.editProfileButton:active{
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}
