.login {
  position: relative;
  font-weight: 600;
}

.loginButton {
  position: absolute;
  top: 32px;
  right: 96px;
  border-radius: 5px;
  background-color: #2D5987;
  width: 126px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  --padding-smi: 10px;
  --padding-0: 0;
  box-sizing: border-box;
  color: white;
}

.malutotranslogoIcon {
  position: absolute;
  top: 16px;
  left: 33px;
  width: 63px;
  height: 80px;
  object-fit: cover;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 112px;
  overflow: hidden;
  text-align: center;
}

.divider,
.profile {
  align-self: stretch;
  position: relative;
}

.profile {
  letter-spacing: -0.02em;
  line-height: 120%;
}

.divider {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 2px;
  --color-gainsboro: #dcdcdc;
  box-sizing: border-box;
  height: 2px;
}

.pageHeading {
  position: absolute;
  width: 100%;
  top: 112px;
  right: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  --padding-77xl: 20px;
  --gap-base: 10px;
  --font-size-45xl: 24px;
  --font-newsreader: 'Newsreader', sans-serif;
}

.allPosts,
.button,
.myPosts {
  position: absolute;
  --font-size-xl: 18px;
}

.button {
  top: 261px;
  left: calc(50% - 771px);
  border-radius: 5px;
  background-color: #2D5987;
  width: 1506px;
  height: 64px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 5px 200px;
  box-sizing: border-box;
  color: #cccccc;
}

.allPosts,
.myPosts {
  top: 50%;
  left: 50%;
  margin-top: -232px;
  margin-left: -380px;
  line-height: 130%;
  font-weight: 600;
  color: white;
}

.allPosts {
  left: 50%;
  margin-left: -549px;
}

.profilePageChild {
  position: absolute;
  top: 411px;
  left: 94px;
  background-color: #f4f4f4;
  width: 608px;
  height: 436px;
}

.profilePageItem {
  position: absolute;
  top: 411px;
  left: 720px;
  background-color: #2D5987;
  width: 624px;
  height: 54px;
}

.login2,
.loginButton1 {
  position: absolute;
  color: white;
  text-align: center;
}

.loginButton1 {
  top: 537px;
  right: 843px;
  border-radius: 5px;
  background-color: #2D5987;
  width: 361px;
  height: 37px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 10px;
}

.login2 {
  top: 422px;
  left: 991px;
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
}

.andTravelCorporation,
.malutoTransportation {
  position: absolute;
  letter-spacing: 0.01em;
  line-height: 100%;
  mix-blend-mode: normal;
  font-weight: bold;
}

.malutoTransportation {
  top: 438px;
  left: 250px;
  font-size: 20px;
  font-family: 'Reem Kufi', sans-serif;
  color: #2D5987;
}

.andTravelCorporation {
  top: 470px;
  left: 236px;
  font-size: 16px;
  font-family: 'Reem Kufi', sans-serif;
  width: 305px;
  height: 17px;
  text-align: center;
}

.usernameBirthday {
  margin: 0;
}

.usernameBirthdayDescription {
  position: absolute;
  top: 594px;
  left: 256px;
  letter-spacing: -0.01em;
  line-height: 100%;
  font-family: 'Reem Kufi', sans-serif;
  display: inline-block;
  width: 309px;
  height: 91px;
  mix-blend-mode: normal;
}

.user21 {
  top: 200px;
  left: 240px;
  width: 50px;
  height: 49px;
}

.forward {
  color: #2D5987;
}

.span {
  color: black;
}

.movingForwardPassengersContainer {
  display: flex;
  position: absolute;
  flex: 1;
  max-width: 100%;
  margin-right: -835px;
  top: 748px;
  left: 116px;
  font-size: 40px;
  letter-spacing: -0.02em;
  line-height: 120%;
  text-align: center;
  display: inline-block;
  height: 39px;
  font-family: 'Newsreader', sans-serif;
}

.southBoundRoutes,
.thisIsYourContainer {
  margin: 0;
  position: absolute;
  top: 140px;
  left: 21px;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 200;
  font-family: inherit;
}

.thisIsYourContainer {
  top: 138px;
  left: 46px;
}

.user211 {
  position: absolute;
  top: 300px;
  left: 200px;
  width: 50px;
  height: 49px;
  object-fit: cover;
}

.firstNameLast {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  top: 140px;
  font-weight: 200;
  font-family: inherit;
  display: flex;
  align-items: flex-end;
  width: 379px;
  flex-shrink: 0;
}

.frame1 {
  position: absolute;
  top: 11px;
  left: 21px;
  width: 445px;
  height: 49px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px; 
  font-size: 32px; 
}

.like,
.like11 {
  position: relative;
}

.like11 {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.like {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 200;
  font-family: inherit;
}

.comment22 {
  position: relative;
  width: 33px;
  height: 31px;
  top: 10px;
  left: 140px;
  object-fit: cover;
}

.frame4 {
  width: 133px;
  height: 31px;
  flex-shrink: 0;
  align-items: center;
  gap: 4px;
}

.frame2,
.frame3,
.frame4 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.frame3 {
  width: 232px;
  height: 31px;
  flex-shrink: 0;
  align-items: center;
  gap: 160px;
}

.frame2 {
  position: absolute;
  top: 295px;
  left: 6px;
  width: 271px;
  height: 36px;
  align-items: flex-start;
  gap: 8px; 
}

.div,
.frame6 {
  width: 13px;
  display: flex;
}

.div {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 200;
  align-items: flex-end;
}

.frame6 {
  position: absolute;
  top: 0;
  left: 160px;
  height: 35px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.div1,
.frame7 {
  width: 12px;
  display: flex;
}

.div1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 200;
  align-items: flex-end;
}

.frame7 {
  position: absolute;
  top: 0;
  left: 65px;
  height: 34px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.nounEye15457301Icon {
  position: absolute;
  top: 0;
  left: 89px;
  border-radius: 60px; 
  width: 72px;
  height: 48px;
  object-fit: cover;
}

.frame8 {
  position: absolute;
  top: 0;
  left: 21px;
  width: 33px;
  height: 34px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.divider1 {
  position: absolute;
  width: 100%;
  margin-right: 2px;
  right: -1px;
  bottom: 3.7px;
  left: -1px;
  border-top: 2px solid #000000;
  box-sizing: border-box;
  height: 2px;
}

.frame5 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 637px;
  height: 48px;
  overflow: hidden;
  font-size: 3rem;
}

.southBoundRoutesParent {
  position: relative;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 616px;
  height: 327px;
  overflow: hidden;
  flex-shrink: 0;
}

.frame,
.profilePage {
  overflow: hidden;
  text-align: left;
  color: black;
}

.frame {
  position: absolute;
  top: 487px;
  left: 724px;
  width: 616px;
  height: 357px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Newsreader', sans-serif; 
}

.profilePage {
  position: relative;
  background-color: white;
  width: 100%;
  height: 1024px;
  font-size: 16px; 
  font-family: 'Inter', sans-serif; 
}

.forumpost {
  position: absolute;
  top: 594px;
  left: 256px;
}
