.writeAComment {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .frame,
  .writeACommentWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .writeACommentWrapper {
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1055px;
    height: 120px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-base);
  }
  .frame {
    position: absolute;
    top: 847px;
    left: -51px;
    width: 1173px;
    align-items: flex-end;
    justify-content: center;
  }
  .malutoTransBy {
    position: absolute;
    top: 40px;
    left: 119px;
    font-size: var(--font-size-13xl);
    letter-spacing: -0.01em;
    line-height: 100%;
    font-family: var(--font-reem-kufi);
    color: var(--color-steelblue);
    text-align: left;
  }
  .forum,
  .home {
    line-height: 130%;
  }
  .home {
    position: absolute;
    top: 45.5px;
    right: 738px;
  }
  .forum {
    top: 46px;
    right: 624px;
  }
  .about,
  .forum,
  .gallery {
    position: absolute;
  }
  .about {
    top: 45px;
    right: 512px;
    line-height: 130%;
  }
  .gallery {
    top: 46px;
    right: 393px;
  }
  .gallery,
  .login,
  .review {
    line-height: 130%;
  }
  .review {
    position: absolute;
    top: 45px;
    right: 280px;
  }
  .login {
    position: relative;
    font-weight: 600;
  }
  .loginButton {
    position: absolute;
    top: 32px;
    right: 96px;
    border-radius: var(--br-5xs);
    background-color: var(--color-steelblue);
    width: 126px;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-smi) var(--padding-0);
    box-sizing: border-box;
    color: var(--color-white);
  }
  .malutotranslogoIcon {
    position: absolute;
    top: 16px;
    left: 33px;
    width: 63px;
    height: 80px;
    object-fit: cover;
  }
  .header {
    position: absolute;
    width: calc(100% - 66px);
    top: 0;
    right: 15px;
    left: 51px;
    height: 112px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-black);
  }
  .southBoundRoute {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
  }

  .pageHeading {
    position: absolute;
    width: calc(100% - 66px);
    top: 112px;
    right: 15px;
    left: 51px;
    background-color: var(--color-white);
    height: 149px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 55.9998893737793px var(--padding-77xl) 0.0001068115234375px;
    box-sizing: border-box;
    gap: var(--gap-base);
    font-size: var(--font-size-45xl);
    color: var(--color-steelblue);
    font-family: var(--font-newsreader);
  }
  .home1 {
    position: absolute;
    top: 45.5px;
    right: 753px;
    font-size: var(--font-size-base);
    line-height: 130%;
    color: var(--color-black);
    text-align: center;
  }
  .button,
  .searchBar {
    background-color: var(--color-steelblue);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .searchBar {
    border: 1px solid var(--color-white);
    width: 209px;
    height: 39px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: flex-end;
    padding: var(--padding-7xs) var(--padding-26xl);
  }
  .button {
    position: absolute;
    top: 261px;
    left: calc(50% - 753px);
    border-radius: var(--br-5xs);
    width: 1506px;
    height: 64px;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-20xl);
    color: var(--color-gray-200);
  }
  .allPosts,
  .categories,
  .myPosts {
    position: absolute;
    top: calc(50% + 117.5px);
    left: calc(50% - 385px);
    line-height: 130%;
    font-weight: 600;
  }
  .allPosts,
  .categories {
    left: calc(50% - 520px);
  }
  .categories {
    left: calc(50% - 677px);
  }
  .magnifyGlassIcon {
    position: absolute;
    top: 277px;
    left: 1258px;
    width: 45px;
    height: 32px;
    object-fit: cover;
  }
  .button1,
  .button2,
  .frame1 {
    position: absolute;
    overflow: hidden;
    font-family: var(--font-inter);
  }
  .frame1 {
    top: 0;
    left: -51px;
    width: 1506px;
    height: 325px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .button1,
  .button2 {
    border-radius: var(--br-5xs);
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button1 {
    top: 0;
    left: calc(50% + 397px);
    background-color: var(--color-steelblue);
    width: 263px;
    color: var(--color-white);
  }
  .button2 {
    top: 87px;
    left: calc(50% + 407px);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 253px;
  }
  .edited0d,
  .firstNameLast {
    position: absolute;
    top: 31px;
    left: 804px;
    font-size: var(--font-size-5xl);
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .firstNameLast {
    top: 48px;
    left: 86px;
    font-size: var(--font-size-20xl);
    display: flex;
    align-items: flex-end;
    width: 379px;
  }
  .user21 {
    position: absolute;
    top: 38px;
    left: 0;
    width: 50px;
    height: 49px;
    object-fit: cover;
  }
  .southBoundTo {
    position: absolute;
    top: 104px;
    left: 86px;
    font-size: var(--font-size-5xl);
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .frame3 {
    position: relative;
    width: 1320px;
    height: 147px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame2 {
    position: absolute;
    top: 365px;
    left: -51px;
    width: 1467px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: var(--font-size-xl);
  }
  .nounEye15457301Icon {
    position: relative;
    border-radius: var(--br-120xl-5);
    width: 72px;
    height: 48px;
    object-fit: cover;
  }
  .views {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
    display: flex;
    align-items: flex-end;
    width: 123px;
    flex-shrink: 0;
  }
  .frame6 {
    position: absolute;
    top: 25px;
    left: 10px;
    height: 48px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .comment22 {
    position: relative;
    width: 33px;
    height: 31px;
    object-fit: cover;
  }
  .comments {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
    display: flex;
    align-items: flex-end;
    width: 142px;
    flex-shrink: 0;
  }
  .frame7,
  .frameParent {
    position: absolute;
    overflow: hidden;
  }
  .frame7 {
    top: 90px;
    left: 29px;
    width: 195px;
    height: 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .frameParent {
    top: 26px;
    left: 1084px;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 253px;
    height: 146px;
    font-size: var(--font-size-6xl);
  }
  .like {
    top: 180px;
    left: 47px;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .like,
  .like11,
  .share {
    position: absolute;
  }
  .share {
    top: 180px;
    left: 293px;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .like11 {
    top: 172px;
    left: 0;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .thisIsYour {
    margin: 0;
  }
  .thisIsYourContainer {
    position: absolute;
    top: 0;
    left: 2px;
    font-size: var(--font-size-11xl);
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 500;
  }
  .share1Icon {
    position: absolute;
    top: 172px;
    left: 246px;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .dislike {
    position: absolute;
    top: 180px;
    left: 163px;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .like12 {
    position: absolute;
    top: 172px;
    left: 116px;
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
  .frame5 {
    position: relative;
    width: 1337px;
    height: 204px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame4 {
    position: absolute;
    top: 513px;
    left: -51px;
    width: 1467px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .comments0 {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: -0.02em;
    line-height: 100%;
    font-weight: 200;
  }
  .user22 {
    position: absolute;
    top: 12px;
    left: 989px;
    width: 50px;
    height: 49px;
    object-fit: cover;
  }
  .frame9 {
    position: relative;
    width: 1039px;
    height: 61px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame8 {
    position: absolute;
    top: 777px;
    left: -51px;
    width: 1163px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .dots1Icon {
    position: absolute;
    top: 386px;
    left: 1071px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
  }
  .divider1 {
    position: absolute;
    width: calc(100% - 372px);
    right: 306px;
    bottom: 268px;
    left: 66px;
    border-top: 2px solid var(--color-black);
    box-sizing: border-box;
    height: 2px;
  }
  .southBoundPosts {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-newsreader);
  }
  