.sort-container{
  display: flex;
  margin-top: 50px;
  
}
.SortLabel{
  position: relative;
  margin-left:75px;
  padding-right: 10px;
  font-size: 23px;
}
.SortSelect{
  position: relative;
  display: flex;
  font-size: 20px;
  top: 1.5px;
  width: 115px;  
  height: 36px;
  text-align: center;
}
#CreateReview{
  position: relative;
  left:0;
  right: 0; 
  margin-left: auto; 
  margin-right: 7%;
  font-size: 15px;
  font-weight: bolder;
  width: 160px;
}

.reviews-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

