.containerClick:hover{
    text-decoration: none;
}
.containerClick:not(:hover),.containerClick:active{
    text-decoration: none;
    color: black;
}
.ForumBar:not(:active),.ForumBar:active,.ForumBar:hover{
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}
a:not(:active), a:active{
    color: black;
}